.header {
  background-color: blueviolet;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;

}
.headerInputCointainer {
    display: flex;
    flex-grow: 1;
}

.headerInput {
 outline: none;
 padding: 7px;
 margin-left: 10px;
 flex: 1;
}

.headerText {
    font-size: 13px;
    color: aliceblue;
    font-weight: 500;
}

.headerBottom {
   background-color: rgb(7, 14, 68);
   padding: 5px;
   height: 30px;
   display: flex;
   gap : 20px;
}
.headerBottomText {
    color: white;
}